#include "/masm32/include/resource.h"

1000 DIALOGEX 84,0,288,252
FONT 8,"Arial",700,0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|WS_CLIPSIBLINGS|WS_CLIPCHILDREN|DS_CONTROL|DS_NOFAILCREATE|DS_3DLOOK
BEGIN
  CONTROL "",100,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_MULTILINE|ES_WANTRETURN,1,1,286,249,WS_EX_CLIENTEDGE
END
