#include	"\masm32\include\resource.h"

20 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "default.ico" 
21 BITMAP DISCARDABLE "main.bmp"
22 BITMAP DISCARDABLE "main_a.bmp"
23 BITMAP DISCARDABLE "main1.bmp"
24 BITMAP DISCARDABLE "main1a.bmp"
25 BITMAP DISCARDABLE "main2.bmp"
26 BITMAP DISCARDABLE "main2a.bmp"
27 BITMAP DISCARDABLE "main3.bmp"
28 BITMAP DISCARDABLE "main3a.bmp"
29 BITMAP DISCARDABLE "main4.bmp"
30 BITMAP DISCARDABLE "main4a.bmp"

2000 DIALOGEX 10,10,159,132
CAPTION "Select a service"
FONT 8,"Arial",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER
BEGIN
  CONTROL "",400,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LVS_AUTOARRANGE|LVS_SINGLESEL|LVS_REPORT|LVS_SHOWSELALWAYS,3,3,153,102,WS_EX_CLIENTEDGE
  CONTROL "&Select port",1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,16,111,54,15
  CONTROL "&Cancel",2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,88,111,54,15

END

2001 DIALOGEX 10,10,200,132
CAPTION "Select a service"
FONT 8,"Arial",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER
BEGIN
  CONTROL "",400,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LVS_AUTOARRANGE|LVS_SINGLESEL|LVS_REPORT|LVS_SHOWSELALWAYS,3,3,194,102,WS_EX_CLIENTEDGE
  CONTROL "Select &process",3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_CENTER|BS_DEFPUSHBUTTON,23,111,54,15
  CONTROL "&Select port",1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,80,111,48,15
  CONTROL "&Cancel",2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,131,111,45,15
END


1 VERSIONINFO
FILEVERSION 3,0,3,0
PRODUCTVERSION 3,0,3,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "3.0.3.0\0"
      VALUE "ProductVersion", "3.0.3.0\0"
      VALUE "CompanyName", "Albu Cristian\0"
      VALUE "FileDescription", "Advanced Onion Router WinSock Hook Library\0"
      VALUE "InternalName", "AdvOR\0"
      VALUE "LegalCopyright", "Copyright © by Albu Cristian, 2009-2025\0"
      VALUE "OriginalFilename", "AdvOR.dll\0"
      VALUE "ProductName", "Advanced Onion Router\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END

